/* --------------------Applies to all content-------------------- */
* {
    font-family: sans-serif;
}
/* uncomment below to view/debug divs */
/* div { border-style: solid; border-width: 1px; }  */

/* --------------------Applies to grid layout-------------------- */
body {
    margin: 0px;
}
.left { 
    grid-row-start: 2;
    grid-row-end: 4;
    overflow-y: auto;
}
.main { 
    position: relative;
    overflow-y: auto;
    text-align: center;
}
.right { 
    grid-row: span 2;
}
.grid_container {
    display: grid;
    grid-gap: 5px;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-columns: 1fr 5fr 1fr;
    padding: 0px;
    margin: 0px;
    /* color scheme */
    /* background-color: rgb(102, 170, 50); */
}
/* direct descendants of grid-container divs that are also divs */
.grid-container > div {
padding: 10px;
font-size: 1em;
/* color scheme */
/* background-color: rgb(102, 102, 102); */
}

/* --------------------------------------------------------------------------- */
/* --------------------Applies to login and Sign up Screen-------------------- */
/* --------------------------------------------------------------------------- */

a {
    text-decoration: none;
    color: #666666;
    font-weight: 700;
    font-size: .75em;
    cursor: pointer;
}
.center_container {
    position: absolute;
    width: 60%;
    left: 20%;
    margin: auto;
    height: 100vh;
}
.main_login_contents {
    position: relative;
    width: 400px;
    height: 800px; 
    margin: 0 auto;
    text-align: center;
    top: 50px;
}
.logo{
    height: auto; 
    width: 150px; 
    max-width: 150px; 
    max-height: 150px;  
    border-top-right-radius: 25px; 
    border-bottom-left-radius: 25px;
    border-top-left-radius: 10px; 
    border-bottom-right-radius: 10px;
}
img.logo_word{
    width: 250px; 
    height: auto;
}

.login_div{
    position: absolute;
    width: 70%;
    height: 170px;
    bottom: 40%;
    left: 15%;
    border: 1px solid #ccc;;
}
.input_box{
    width: 100%;
    height: 35px;
    margin:0 auto;
    display: grid;
    place-items:center;
    position: relative;
    top: 1em;
}
input{
    font-family: sans-serif;
    font-size:   80%; 
    padding:     0.1em;
    height: 20px; 
    margin: 0.1em;
    border: 1px solid #ccc;
} 
.login_button_div{
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 1em;
    text-align: center;
    vertical-align: middle;
}
.button_for_login_submit {
    width: 150px; 
    height: 20px;
    cursor: pointer;
    background-color: rgb(56, 118, 29);
    color: white;
    font-weight: 700;
    margin: 0 auto; 
    padding: 3px;
    border-radius: 5px;
    display: table-cell; 
    line-height: 20px;
    display: inline-block;
    
}
.button_for_login_submit:hover {
    background-color: rgb(30, 239, 24);
    color: #666666;
}
.have_account_div{
    position: absolute;
    width: 70%;
    height: 20px;
    bottom: 35%;
    left: 15%;
    border: 1px solid #ccc;
    font-family: sans-serif;
    font-size: .7em;
    padding-top: 10px;
}
.footer_links_div {
    position: absolute;
    width: 100%;
    min-width: 700px;
    height: 20px;
    top: 800px;
    margin: 0 0 0 0;
    text-align: center;
}
.links {
    float: left;
    clear: none;
    width: 20%;
}

/* --------------------------------------------------------------------------- */
/* ------------------------- Applies to About Screen ------------------------- */
/* --------------------------------------------------------------------------- */
.header {
    width: 100vw;
    height: 70px;
    border-bottom: 2px solid #666666;
    vertical-align: middle;
}
.header_logo_div {
    height: 50px;
    width: 50px;
    padding: 2px;
    margin-top: 3px;
    margin-bottom: auto;
    /* left: 50px; */
    float: left;
}
.header_logo {
    width: 50px;
    height: auto;
    vertical-align: middle;
    border-top-right-radius: 5px; 
    border-bottom-left-radius: 5px;
    border-top-left-radius: 3px; 
    border-bottom-right-radius: 3px;
}
.header_word_logo_div {
    height: 30px;
    width: 125px;
    margin-top: auto;
    margin-bottom: auto;
    float: left;
}
.header_word_logo {
    height: 30px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}
.decoration_container {
    width: 100vw;
    height: 300px;
    background-image: linear-gradient(green, white);
}
.content_container {
    position: relative;
    top: 20px;
    width:  60%;
    margin: auto;
    padding: auto;
    text-align: justify;
}
.content_container > h1 {
    text-align: center;
    margin-bottom: 2em;
    text-decoration: underline;
}